<div class="container">
    <form action="/api/form-2" method="POST">
        <label for="edu_level">Highest Education Level: </label>
        <input type="text" name="edu_level" placeholder="" id="edu_level">
        <br />

        <label for="curr_emplyoment_status">Current Emplyoment Status: </label>
        <select id="curr_emplyoment_status" name="curr_emplyoment_status" placeholder="Enter your Emplyoment Status">
            <option value="employed">Employed</option>
            <option value="unemployed">Unemployed</option>
            </select>
        <br />

        <label for="income">Income: </label>
        <input type="text" name="income" placeholder="Enter your income" id="income">
        <br />

        <label for="employment_type">Employment Type: </label>
        <select id="employment_type" name="employment_type" placeholder="Enter your Employment Type">
            <option value="Private">Private</option>
            <option value="Govt">Government</option>
            <option value="Self-Employed">Self-Employed</option>
            <option value="other">Other</option>
            </select>
        <br />

        <label for="languages_known">Languages Known: </label>
        <input type="text" id="languages_known" name="languages_known" placeholder="Enter languages known">
        <br />

        <label for="distance_from_work">Distance From Work: </label>
        <input type="text" name="distance_from_work" placeholder="Enter your distance from work" id="distance_from_work">
        <br />

        <button " type="submit" id="btn-page-2">Next</button>
    </form>
</div>